/*-- сброс --*/
body,header,nav,main,article,section,aside,footer,h1,h2,h3,h4,h5,h6,div,span,p,dl,dt,dd,ol,ul,li,pre,label,input,button,a,figure,figcaption,img
{
margin:0;
padding:0;
border:0;
box-sizing:border-box;
outline:0;
list-style:none;
font-size:1rem;
font-style:normal;
font-variant:normal;
font-weight:normal;
font-family:'Times New Roman', serif ;
vertical-align:baseline;
line-height:1;
text-overflow:ellipsis;
text-decoration:none;
text-shadow:0px 0px 1px hsla(0,0%,0%,.4);
color:hsla(0,0%,0%,1);
background:transparent;
}

/*-- по умолчанию --*/
body
{
width:calc(100%);
height:calc(100vh);

background:hsla(120,100%,18%,1);
}
header, main, footer
{
display:block;
max-width:calc(1600px);
margin:0 auto;
}
h1, h2, h3, h4, h5, h6
{
width:calc(100%);
min-height:16px;
margin:0 auto;

text-align:center;
}
img, object, video, embed, canvas, figure
{
max-width:100%;
display:block;
margin:0 auto;
aspect-ratio:auto 16 / 9;
}
article header, article footer
{
width:calc(100%);
margin:0 auto;
}
footer
{
clear:both;
}										
a
{
text-decoration:none;
color:hsla(0,0%,0%,1);
}
ol, ul
{
list-style:none;
}
:focus{outline:0;}
:root
{
--w:calc(100vw - (100vw - 1600px));
--h:calc((100vw / 2) / 1.778);
}
/*---------------------------------------------------------------*/

.dialog
{
background:hsla(46,100%,41%,1);
}
.dialog_header
{
height:calc(4rem);

box-shadow:inset hsla(0,0%,50%,1) 0px 3px 6px
,hsla(0,0%,20%,.8) 0px 6px 10px;
background:hsla(0,0%,100%,.9);
}
.dialog_header-h1
{
padding-top:16px;

font:normal 1.4rem/1.2 'Arial Black',sans-serif;
letter-spacing:1px;
color:hsla(0,0%,0%,1);
}
.dialog_main
{
min-height:calc(100vh - 160px);
}
.dialog_section
{
width:calc(96%);
min-height:calc(100vh - 160px);
margin:0 auto;
margin-top:16px;
margin-bottom:16px;

background:hsla(0,0%,90%,1);
box-shadow:hsla(0,0%,20%,.8) 3px 6px 10px;

}
.dialog_section-h2
{
height:calc(32px);
padding-top:6px;

font:italic normal 1.4rem/1.4 Arial, sans-serif;
}
.dialog_div
{
width:calc(100%);
min-height:calc(100vh - 200px);

display:flex;
flex-direction:row;
flex-wrap:wrap;
} 
.dialog_div_figure
{
width:calc(240px);
margin:16px auto;

background:hsla(0,0%,100%,1);
box-shadow:hsla(0,0%,20%,.8) 3px 6px 10px;
align-self: center;
}
.dialog_div_figure-figcaption
{
font:italic normal 1.2rem/1.2 Arial, sans-serif;
text-align:center;
}
.dialog_div_figure-img
{
display:block;
max-width:calc(100%);
margin:0 auto;
padding:3px;
}
.dialog_footer
{
height:calc(64px);
padding:6px 0;

box-shadow:inset hsla(0,0%,0%,.6) 0px -3px 6px;
background:hsla(0,0%,100%,.9);
}
.dialog_footer-h4
{
width:calc(100%);
padding-top:16px;
}
.dialog_footer_h4-a
{
width:calc(100%);

font:normal 1.2rem/1.2 Arial, sans-serif;
color:hsla(0,0%,0%,1);
}
.dialog_footer_h4-a:hover
{
text-decoration:underline;
color:hsla(0,100%,50%,1);
}
														